{% macro post_max(page) %}
<div>
  <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
  <p>{{ page.description }}</p>
  <dl class="dl-horizontal">
    <dt>{{ config.extra.label_date }}</dt>
    <dd>{{ page.date | date(format="%Y-%m-%d") }}</dd>
    {% if page.taxonomies.categories %}
    <dd>
      <a href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}">
        {{ page.taxonomies.categories[0] }}
      </a>
      {% if page.taxonomies.skills %}
      |
      {% for skill in page.taxonomies.skills %}
        <a href="{{ get_taxonomy_url(kind="skills", name=skill) }}">{{ skill }}</a>{% if page.taxonomies.skills | length > 1 %}{% if loop.index != page.taxonomies.skills | length %},{% endif %}{% endif %}
      {% endfor %}
      {% endif %}
    </a>
    </dd>
    {% endif %}
  </dl>
  <p>
    <a href="{{ page.permalink }}" class="btn btn-info" role="button">{{ config.extra.label_read_more }}</a>
  </p>
  <hr class="soften">
  <p></p>
</div>
{% endmacro post_max %}


{% macro post_min(page) %}
<div>
  <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
  <p>{{ page.description }}</p>
  <p>
    <a href="{{ page.permalink }}" class="btn btn-info" role="button">{{ config.extra.label_read_more }}</a>
  </p>
  <hr class="soften">
  <p></p>
</div>
{% endmacro post_min %}


{% macro paginator(ref, extra) %}
<div class="pagination pagination-centered">
  <ul>
    {% if ref.current_index != 1 %}
      <li><a href="{{ ref.first }}">&larrb;</a></li>
    {% else %}
      <li class="disabled"><a href="{{ ref.first }}">&larrb;</a></li>
    {% endif %}

    {% if ref.next %}
      <li><a href="{{ ref.previous }}">&larr;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&larr;</a></li>
    {% endif %}

    <li class="disabled"><a href="#">{{ ref.current_index }}/{{ ref.number_pagers }}</a></li>
    
    {% if ref.next %}
      <li><a href="{{ ref.next }}">&rarr;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&rarr;</a></li>
    {% endif %}

    {% if ref.current_index != ref.number_pagers %}
      <li><a href="{{ ref.last }}">&rarrb;</a></li>
    {% else %}
      <li class="disabled"><a href="{{ ref.last }}">&rarrb;</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro paginator %}
